@using PTS.Models;
@using PTS.Helpers;
@model CALISTIGI_YER
@{
    ViewBag.Title = "Create";
    List<PERSONEL> personel = ViewData["personel"] as List<PERSONEL>;
}

<div class="row" style="margin-bottom:20px;">
    <div class="col" style="margin-left:60px;">
        <h1>Çalıştığı Yer Oluştur/Düzenle</h1>
    </div>
</div>

<div class="row justify-content-center align-items-center">
    <div class="col-6 p-3 arkaplangolgeli">
        @using (Html.BeginForm("Create", "CalistigiYer", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-inline" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group col-12">
                @Html.Label("Çalıştığı Yer Refno:", htmlAttributes: new { @class = "control-label col-3 font-weight-bold", @style = "justify-content: flex-start" })
                @Html.EditorFor(model => model.CALISTIGI_YER_REFNO, new { htmlAttributes = new { @class = "form-control col-9", @readonly = "true" } })
                @Html.ValidationMessageFor(model => model.CALISTIGI_YER_REFNO, "", new { @class = "text-danger" })

            </div>
            <div class="form-group col-12">
                <label for="PERSONEL_REFNO" class="control-label col-3 font-weight-bold" style="justify-content: flex-start">Personel Adı :</label>
                <select name="PERSONEL_REFNO" id="PERSONEL_REFNO" class="form-control col-9">
                    @foreach (var k in personel)
                    {
                        if (Model.PERSONEL_REFNO == k.PERSONEL_REFNO)
                        {
                            <option selected value="@k.PERSONEL_REFNO">@k.ADI_SOYADI</option>
                        }
                        else
                        {
                            <option value="@k.PERSONEL_REFNO">@k.ADI_SOYADI</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group col-12">
                @Html.Label("Çalıştığı Yer Adı:", htmlAttributes: new { @class = "control-label col-3 font-weight-bold", @style = "justify-content: flex-start" })
                @Html.EditorFor(model => model.ADI, new { htmlAttributes = new { @class = "form-control col-9" } })
                @Html.ValidationMessageFor(model => model.ADI, "", new { @class = "text-danger" })

            </div>
            <div class="form-group col-12">
                @Html.Label("Unvanı:", htmlAttributes: new { @class = "control-label col-3 font-weight-bold", @style = "justify-content: flex-start" })
                @Html.EditorFor(model => model.UNVANI, new { htmlAttributes = new { @class = "form-control col-9" } })
                @Html.ValidationMessageFor(model => model.UNVANI, "", new { @class = "text-danger" })

            </div>
            <div class="form-group col-12">
                @Html.Label("Kurs Başlangıç Tarihi:", htmlAttributes: new { @class = "control-label col-3 font-weight-bold", @style = "justify-content: flex-start" })

                @Html.EditorFor(model => model.BASLANGIC_TARIHI, new { htmlAttributes = new { @class = "form-control col-9", @type = "date", @Value = Model.BASLANGIC_TARIHI.ToString("yyyy-MM-dd") } })
                @Html.ValidationMessageFor(model => model.BASLANGIC_TARIHI, "", new { @class = "text-danger" })

            </div>
            <div class="form-group col-12">
                @Html.Label("Kurs Bitiş Tarihi:", htmlAttributes: new { @class = "control-label col-3 font-weight-bold", @style = "justify-content: flex-start" })

                @Html.EditorFor(model => model.BITIS_TARIHI, new { htmlAttributes = new { @id = "dogum_tarihi", @class = "form-control col-9", @type = "date", @Value = Model.BITIS_TARIHI.ToString("yyyy-MM-dd") } })
                @Html.ValidationMessageFor(model => model.BITIS_TARIHI, "", new { @class = "text-danger" })

            </div>
            <div class="form-group row" style="margin-top:20px; margin-left:60px;">
                <div class="col-6"></div>
                <div class="col-4">
                    <input type="submit" value="Kaydet" style="background-color: #4CAF50; color:white" class="btn btn-default p-2" />
                </div>
                <div class="col-2">
                    @Html.ActionLink("Vazgeç", "Index", null, new { @style = "background-color: #da7c0c; color:white", @class = "btn btn-default p-2" })
                </div>
            </div>


        }
    </div>
</div>




