@using PTS.Models;
@model IEnumerable<MAA>

@{
    ViewBag.Title = "Index";
    string veri = ViewData["veri"].ToString();

}

<div class="pt-5" style="margin-left:40px;">
    <div class="row" style="margin-bottom:20px;">
        <div class="col" style="margin-left:20px;">
            <h1>Maaş Listesi</h1>
        </div>
        <div class="col" style="margin-left:20px;">
            @using (Html.BeginForm("Search", "Maas", FormMethod.Post))
            {
                <div class="form-group row">
                    @Html.Label("Personel Adı:", htmlAttributes: new { @class = "form-control col font-weight-bold" })
                    <div class="col">
                        @Html.TextBox("txtAra", veri, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col">
                        <input type="submit" value="Ara" class="btn btn-default p-2" />
                        @Html.ActionLink("Yeni", "Create", null, new { @class = "btn btn-default p-2" })
                    </div>

                </div>
            }
        </div>
    </div>
</div>

<div class="col-md-12 border-radius-10" style="margin-left:40px;">
    <table class="table">
        <thead class="class=" thead-light"">
            <tr class="font-weight-bold">
                <th>PERSONEL ADI</th>
                <th>YIL</th>
                <th>AY</th>
                <th>AYLIK ÜCRET</th>
                <th>AVANS</th>
                <th>FAZLA MESAİ ÜCRETİ</th>
                <th>TOPLAM ÜCRET</th>
                <th>HESAPLAMA TARİHİ</th>
                <th>DÜZENLE</th>
                <th>SİL</th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.PERSONEL.ADI_SOYADI)
                </td>
                <td>
                    @Html.DisplayFor(model => item.YIL)
                </td>
                <td>
                    @Html.DisplayFor(model => item.AY)
                </td>
                <td>
                    @Html.DisplayFor(model => item.PERSONEL.AYLIK_UCRET)
                </td>
                <td>
                    @Html.DisplayFor(model => item.AVANS)
                </td>
                <td>
                    @Html.DisplayFor(model => item.FAZLA_MESAI_UCRETI)
                </td>
                <td>
                    @Html.DisplayFor(model => item.TOPLAM_UCRET)
                </td>
                <td>
                    @Html.DisplayFor(model => item.HESAPLAMA_TARIHI)
                </td>
                <td>
                    <button class="btn-duzenle">
                        @Html.ActionLink("DÜZENLE ", "Create", new { id = item.MAAS_REFNO })
                    </button>
                </td>
                <td>
                    <button class="btn-sil">
                        @Html.ActionLink("SİL", "delete", new { id = item.MAAS_REFNO }, new { onclick = "return confirm('Gerçekten silinsin mi?')" })
                    </button>

                </td>
            </tr>
        }
    </table>
    <div style="margin-left:1000px;">
        @Html.Partial("_Sayfalama")
    </div>
</div>